<section
  class="relative flex justify-start bg-cover text-white"
  style="background-image: url('/public/img/landingpage/header1.webp'); width:auto; height: 100vh;"
>
  <div class="container-fluid px-4 py-20" style="background: rgba(0, 0, 0, 0.6); width: 100%;">
    <h2 class="mx-auto mb-4 mt-12 text-7xl font-bold sm:ml-0 md:ml-22" style="text-shadow: 2px 2px 4px #000000;">
      Inicia tu <br /> entreno ya!
    </h2>

    <p class="mb-8 mt-5 font-sans text-21 font-300 leading-30 text-white shadow-md sm:ml-0 md:ml-22">
      Te acompañamos paso a paso con un plan de entrenamiento <br /> personalizado en ciclismo para que cumplas tus objetivos.
    </p>

    <!-- Botones alineados horizontalmente -->
    <div class="mb-4 flex items-center justify-start sm:ml-0 md:ml-22">
      <!-- Botón Iniciar Sesión -->
      <a
        href="#"
        class="text-l mr-4 rounded border border-white px-11 py-4 font-semibold text-white transition duration-300 ease-in-out hover:border-transparent hover:bg-green-600"
        >Iniciar sesión</a
      >
      <!-- Botón Registrarme -->
      <a
        href="#"
        class="text-l rounded border border-white bg-[#9bcb3b] px-11 py-4 font-bold text-black transition duration-300 ease-in-out hover:bg-white hover:text-green-600"
        >Registrarme</a
      >
    </div>

    <!-- Botón Agenda tu demo ¡GRATIS! -->
    <div class="mt-7 sm:ml-0 md:ml-22">
      <a
        href="#"
        class="text-l rounded border border-white px-13 py-4 font-sans font-bold text-white transition duration-300 ease-in-out hover:bg-white hover:text-green-600"
        >Agenda tu demo ¡GRATIS!</a
      >
    </div>
  </div>
</section>
